.blog-wrapper {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    justify-content: center;
    align-items: center;
}

.blog-wrapper p{
    font-size: 18px;
}

.article-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog-wrapper img {
    width: 724px;
}

.image-box{
    width: 310px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.blog-header {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blog-header p {
    width: 700px;
}

.blog-main-content article {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

article a:first-child {
    font-size: 24px;
}

.blog-content-box {
    width: 292.5px;
}

.blog-main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1.5rem 0px;
    width: 1274px;
    gap: 2rem;
}

.blog-main-content p,
.blog-main-content a {
    font-size: 14px;
}

.trends-content-top {
    display: flex;
    justify-content: space-between;
}

.top-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.trends-main-content p{
    width: 768px;
}

#related-wrapper article {
    display: grid;
    width: 406.66px;
}

#related-wrapper {
    display: flex;
    gap: 2rem;
}

.after-content{
    width: 400.5px;
    margin-top: 1rem;
}

.top-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 595px;
}

@media(max-width:1300px){
    #related-wrapper article {
        width: 395.66px;
    }
}

@media(max-width:1274px){
    .blog-main-content article {
        width: 500px;
    }

    .blog-main-content {
        width: 1032px;
    }
}

@media(max-width:1260px){
    .blog-wrapper img {
        width: 600px;
    }

    .after-content {
        width: 340px;
    }

    #related-wrapper article {
        width: 339.66px;
    }
}

@media(max-width:1032px){
    .blog-main-content {
        width: 100%;
    }

    .blog-main-content article {
        width: 100%;
    }

    #related-wrapper article {
        width: 260.66px;
    }

    .blog-wrapper img {
        width: 460px;
    }

    .after-content {
        width: 270px;
    }

    #related-wrapper {
        gap: 1rem;
    }
}

@media(max-width:768px){
    #related-wrapper {
        gap: 1rem;
        flex-direction: column;
    }

    .trends-main-content p {
        width: fit-content;
    }
}

@media(max-width:700px) {
    .article-box {
        flex-direction: column;
    }

    .blog-main-content article {
        flex-direction: column;
        align-items: center;
    }

    .blog-content-box {
        width: 430px;
    }

    .image-box {
        width: 430px;
    }

    .blog-header p {
        width: 100%;
    }

    .blog-wrapper p:first-child {
        font-size: 16px;
        text-align: center;
    }

    #related-wrapper {
        display: ruby;
    }

    .trends-content-top {
        flex-direction: column;
        text-align: center;
    }

    .top-content {
        width: 100%;
    }

    .top-content h1 {
        font-size: 32px;
    }

    .trends-main-content p {
        font-size: 16px;
    }
}

@media(max-width:430px){
    .blog-wrapper img {
        width: 350px;
    }

    .blog-content-box {
        width: 340px;
    }

    .image-box {
        width: 340px;
    }
}