 {% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>color Palette</title>
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/header.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/blog.css' %}">
  <link rel="stylesheet" href="{% static 'styles/portfolio.css' %}">
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
  <header>
    <nav class="navbar">
      <div>
        <a href="{% url 'index' %}"><img class="logo" src="{% static 'media/images/ed712687-a3d7-4d4a-a1f4-1ac617bf89d3.jpeg' %}"
            alt="Fanisi Atelier logo" ; /></a>
      </div>
      <ul class="links">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'index' %}#contact">Contact</a></li>
      </ul>
      <a class="gs-btn" href="{% url 'services' %}">Get Started</a>
      <div class="toggle-btn">
        <i class="fa-solid fa-bars" style="font-size: 2.2rem; color:#b9657b"></i>
      </div>
      <div class="dropdown-menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'index' %}#contact">Contact</a></li>
      </div>
    </nav>
  </header>
  <section class="blog-wrapper">
    <div class="top-content">
      <h1 class="sr-reveal">How to Choose the Right Color Palette for Your Home</h1>
      <p id="calender">
      <div class="trends-content-top">
        <div>
          <i class="fa-solid fa-calendar fa-sm" style="color: #657186; margin-right: 10px"></i>{{ date }}
          </p>
        </div>
        <div>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>
  </section>
  <div>
    <img src="{% static 'media/images/tenweb_media_FrZEz79Q.webp' %}" alt="Color palette" style="width: 100%;height:max-content">
  </div>
  <div class="blog-wrapper">
    <div class="trends-main-content">
      <p class="sr-reveal">
        Choosing the right color palette for your home is crucial in creating a cohesive and inviting atmosphere.
      </p>
      <p class="sr-reveal">
        Start
        by considering the mood you want to evoke in each room; for instance, soft blues and greens can create a
        calming
        effect, while vibrant reds and yellows can energize a space. It’s also important to take into account the
        natural
        light in your home, as it can significantly affect how colors appear throughout the day. Testing paint
        samples on
        your walls can help you visualize how different shades will look in your space.
      </p>
      <p class="sr-reveal"> Another tip is to use the 60-30-10 rule, which suggests that 60% of a room should be a dominant color, 30%
        a
        secondary color, and 10% an accent color. This approach helps to balance the overall look and ensures that
        no
        single color overwhelms the space. Additionally, consider the flow between rooms; using a consistent color
        palette
        throughout your home can create a sense of unity and harmony.
      </p>
      <p class="sr-reveal">
        Smart technology
        is also playing a pivotal role in design, making homes more efficient,
        responsive, and user-friendly. In addition, we’re seeing a resurgence
        of vintage and retro styles, with designers skillfully blending
        nostalgic elements from the past into contemporary interiors. This
        fusion of old and new infuses spaces with character, warmth, and
        individuality.
      </p>
      <p class="sr-reveal">
        Finally, don’t be afraid to incorporate personal touches through accessories and artwork. These elements can
        add
        character and depth to your color scheme, making your home truly unique. Remember, the key to a successful
        color
        palette is to choose colors that resonate with you and reflect your personal style.
      </p>
    </div>
    <h2>Related Posts</h2>
    <div id="related-wrapper" class="sr-reveal">
      <article>
        <div class="image-box after-content">
          <a href="{% url 'top-5-interior-design-trends-2024' %}"><img src="{% static 'media/images/tenweb_media_YyZPIzJu.webp' %}"
              alt="Living Room" /></a>
        </div>
        <div class="blog-content-box after-content sr-reveal">
          <h5>Trends</h5>
          <h2>
            <a href="{% url 'top-5-interior-design-trends-2024' %}">Top 5 Interior Design Trends for 2024</a>
          </h2>
          <p>
            Discover the latest trends that are shaping the world of
            interior design this year.
          </p>
          <a href="{% url 'top-5-interior-design-trends-2024' %}">Read More<i class="fa-solid fa-angles-right"></i></a>
        </div>
      </article>
      <article>
        <div class="image-box after-content">
          <a href="{% url 'maximazing-small-spaces-design-tips-and-tricks' %}"><img src="{% static 'media/images/tenweb_media_za3hbntK.webp' %}"
              alt="Living Room" /></a>
        </div>
        <div class="blog-content-box after-content sr-reveal">
          <h5>Space Optimization</h5>
          <h2>
            <a href="{% url 'maximazing-small-spaces-design-tips-and-tricks' %}">Maximizing Small Spaces: Design Tips
              and
              Tricks</a>
          </h2>
          <p>
            Learn how to make the most of your small living areas with these
            design strategies.
          </p>
          <a href="{% url 'maximazing-small-spaces-design-tips-and-tricks' %}">Read More <i
              class="fa-solid fa-angles-right"></i></a>
        </div>
      </article>
      <article>
        <div class="image-box after-content">
          <a href="{% url 'the-importance-of-lighting' %}"><img src="{% static 'media/images/tenweb_media_TzeWgrNl.webp' %}"
              alt="Dining Room" /></a>
        </div>
        <div class="blog-content-box after-content sr-reveal">
          <h5>Design Insights</h5>
          <h2>
            <a href="{% url 'the-importance-of-lighting' %}">The Importance of Lighting in Interior Design</a>
          </h2>
          <p>
            Explore how lighting can dramatically impact the look and feel of
            your home.
          </p>
          <a href="{% url 'the-importance-of-lighting' %}">Read More <i class="fa-solid fa-angles-right"></i></a>
        </div>
      </article>
    </div>
  </div>
  <footer>
    <div>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}"><img class="f-logo" src="{% static 'media/images/ed712687-a3d7-4d4a-a1f4-1ac617bf89d3.jpeg' %}" alt="Fanisi Atelier logo" /></a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
        </ul>
        <div class="social-icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-pinterest"></i>
          <i class="fa-brands fa-x-twitter"></i>
        </div>
      </nav>
    </div>
    <hr />
    <div class="footer">
      <p>
        &copy; 2024 Fanisi Atelier. All rights reserved. Designing beautiful
        interior and exterior spaces. | Contact us: info@fanisiatelier.co.ke
      </p>
      <p><a href="#">Terms of Service</a></p>
      <p><a href="#">Privacy Policy</a></p>
    </div>
  </footer>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>