{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Maximizing Small Spaces</title>
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/header.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/blog.css' %}">
  <link rel="stylesheet" href="{% static 'styles/portfolio.css' %}">
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
  <header>
    <nav class="navbar">
      <div>
        <a href="{% url 'index' %}"><img class="logo" src="{% static 'media/images/ed712687-a3d7-4d4a-a1f4-1ac617bf89d3.jpeg' %}" alt="Fanisi Atelier logo"
            ; /></a>
      </div>
      <ul class="links">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'index' %}#contact">Contact</a></li>
      </ul>
      <a class="gs-btn" href="{% url 'services' %}">Get Started</a>
      <div class="toggle-btn">
        <i class="fa-solid fa-bars" style="font-size: 2.2rem; color:#b9657b"></i>
      </div>
      <div class="dropdown-menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'index' %}#contact">Contact</a></li>
      </div>
    </nav>
  </header>
  <section class="blog-wrapper">
    <div class="top-content">
      <h1 class="sr-reveal">Maximizing Small Spaces: Design Tips and Tricks</h1>
      <p id="calender">
      <div class="trends-content-top">
        <div>
          <i class="fa-solid fa-calendar fa-sm" style="color: #657186; margin-right: 10px"></i>{{ date }}
          </p>
        </div>
        <div>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-x-twitter"></i>
          <i class="fa-brands fa-facebook"></i>
        </div>
      </div>
  </section>
  <div>
      <img src="{% static 'media/images/tenweb_media_za3hbntK.webp' %}" alt="Living Area" style="width: 100%;height:max-content">
  </div>
  <div class="blog-wrapper">
    <div class="trends-main-content">
      <p class="sr-reveal">
        Living in a small space can be challenging, but with the right design strategies, you can maximize every square
        foot. 
      </p>
      <p class="sr-reveal">
        One of the most effective ways to create the illusion of more space is through the use of mirrors.
        Strategically placing mirrors can reflect light and make a room feel larger and more open. Additionally, consider
        using light colors on walls and furniture to create a bright and airy atmosphere that enhances the sense of space.
      </p>
      <p class="sr-reveal">Another key strategy is to invest in multifunctional furniture that serves more than one purpose. For example, a
        sofa bed can provide seating during the day and transform into a guest bed at night. Similarly, ottomans with
        storage can help keep your space organized while providing extra seating. By choosing versatile pieces, you can
        maintain a clutter-free environment that feels spacious and inviting.</p>
      <p class="sr-reveal">Lastly, don’t forget about vertical space! Utilizing wall-mounted shelves and tall bookcases can draw the eye
        upward, creating the illusion of height in a room. Incorporating vertical elements not only adds storage but also
        enhances the overall design aesthetic. With these tips and tricks, you can transform your small living areas into
        stylish and functional spaces that meet your needs.</p>
    </div>
    <h2>Related Posts</h2>
    <div id="related-wrapper" class="sr-reveal">
      <article>
        <div class="image-box after-content">
          <a href="{% url 'how-to-choose-the-right-color-palette-for-your-home' %}"><img src="{% static 'media/images/tenweb_media_FrZEz79Q.webp' %}"
              alt="color Palette" /></a>
        </div>
        <div class="blog-content-box after-content sr-reveal">
          <h5>Design Tips</h5>
          <h2>
            <a href="{% url 'how-to-choose-the-right-color-palette-for-your-home' %}">How to Choose the Right Color Palette for
              Your Home</a>
          </h2>
          <p>
            Selecting the perfect color palette can transform your home into a
            harmonious space.
          </p>
          <a href="{% url 'how-to-choose-the-right-color-palette-for-your-home' %}">Read More <i
              class="fa-solid fa-angles-right"></i></a>
        </div>
      </article>
      <article>
        <div class="image-box after-content">
          <a href="{% url 'the-importance-of-lighting' %}"><img src="{% static 'media/images/tenweb_media_TzeWgrNl.webp' %}" alt="Dining Room" /></a>
        </div>
        <div class="blog-content-box after-content sr-reveal">
          <h5>Design Insights</h5>
          <h2>
            <a href="{% url 'the-importance-of-lighting' %}">The Importance of Lighting in Interior Design</a>
          </h2>
          <p>
            Explore how lighting can dramatically impact the look and feel of
            your home.
          </p>
          <a href="{% url 'the-importance-of-lighting' %}">Read More <i class="fa-solid fa-angles-right"></i></a>
        </div>
      </article>
      <article>
        <div class="image-box after-content">
          <a href="{% url 'top-5-interior-design-trends' %}"
            ><img src="{% static 'media/images/tenweb_media_YyZPIzJu.webp' %}" alt="Living Room"
          /></a>
        </div>
        <div class="blog-content-box after-content sr-reveal">
          <h5>Trends</h5>
          <h2>
            <a href="{% url 'top-5-interior-design-trends' %}"
              >Top 5 Interior Design Trends for 2024</a
            >
          </h2>
          <p>
            Discover the latest trends that are shaping the world of
            interior design this year.
          </p>
          <a href="{% url 'top-5-interior-design-trends' %}">Read More<i class="fa-solid fa-angles-right"></i></a>
        </div>
      </article>
    </div>
  </div>
  <footer>
    <div>
      <nav>
        <ul>
          <li><a href="{% url 'index' %}"><img class="f-logo" src="{% static 'media/images/ed712687-a3d7-4d4a-a1f4-1ac617bf89d3.jpeg' %}" alt="Fanisi Atelier logo" /></a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
          <li><a href="{% url 'blog' %}">Blog</a></li>
        </ul>
        <div class="social-icons">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-pinterest"></i>
          <i class="fa-brands fa-x-twitter"></i>
        </div>
      </nav>
    </div>
    <hr />
    <div class="footer">
      <p>
        &copy; {{ year }} Fanisi Atelier. All rights reserved. Designing beautiful
        interior and exterior spaces. | Contact us: info@fanisiatelier.co.ke
      </p>
      <p><a href="#">Terms of Service</a></p>
      <p><a href="#">Privacy Policy</a></p>
    </div>
  </footer>
  <script src="{% static 'js/script.js' %}"></script>
</body>

</html>