{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Services</title>
  <link rel="stylesheet" href="{% static 'styles/style.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/footer.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/header.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/services.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />
  <script src="https://unpkg.com/scrollreveal"></script>
</head>

<body>
  <header>
    <nav class="navbar">
      <div>
        <a href="{% url 'index' %}"><img class="logo"
            src="{% static 'media/images/ed712687-a3d7-4d4a-a1f4-1ac617bf89d3.jpeg' %}" alt="Fanisi Atelier logo"
            ; /></a>
      </div>
      <ul class="links">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
      </ul>
      <a class="gs-btn" href="{% url 'services' %}">Get Started</a>
      <div class="toggle-btn">
        <i class="fa-solid fa-bars" style="font-size: 2.2rem; color: #b9657b"></i>
      </div>
      <div class="dropdown-menu">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About Us</a></li>
        <li><a href="{% url 'services' %}">Services</a></li>
        <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
      </div>
    </nav>
  </header>
  <section class="motion-background"
    style="background-image: url('../static/media/images/tenweb_media_hUKubf1Y.webp');">
    <h1 class="sr-reveal">Transform Your Spaces with Us</h1>
    <p class="sr-reveal">
        At Fanisi Atelier, we specialize in creating stunning interior and
        exterior designs. Our team of experts is dedicated to bringing your
        vision to life with elegance and style.
      </p>
    </section>
    <div class=" svs-content-wrapper">
    <section class="svs-header">
      <div>
        <h1>Our Comprehensive Design Services</h1>
      </div>
      <div>
        <p>
          Fanisi Atelier offers a range of design services tailored to meet your unique needs. From interior to exterior
          design, our team ensures every space is both functional and aesthetically pleasing.
        </p>
      </div>
      <div class="for_mobile sr-reveal">
        <div class="no-motion">
          <h3><span class="num" data-val="400">0</span></h3>
          <p>
            Completed projects showcasing our expertise in interior and
            exterior design
          </p>
        </div>
        <div class="no-motion">
          <h3><span class="num" data-val="20">0</span></h3>
          <p>Years of experience in delivering top-notch design solutions.</p>
        </div>
      </div>
    </section>
    <section class="services-wrapper">
      <div>
        <img class="sr-reveal" src="{% static 'media/images/1.webp' %}" alt="Interior Design" />
        <h2>Interior Design</h2>

        <p>
          Transform your living spaces with our bespoke interior design
          services, tailored to your unique style and preferences.
        </p>
        <a class="svc-btn" href="#">Learn More</a>
      </div>
      <div>
        <img class="sr-reveal" src="{% static 'media/images/2.webp' %}" alt="Interior Design" />
        <h2>Exterior Design</h2>

        <p>
          Enhance your outdoor areas with our expert exterior design services,
          creating inviting and functional spaces.
        </p>
        <a class="svc-btn" href="#">Learn More</a>
      </div>
      <div>
        <img class="sr-reveal" src="{% static 'media/images/3.webp' %}" alt="Interior Design" />
        <h2>Commercial Design</h2>

        <p>
          Optimize your commercial spaces with our professional design
          services, ensuring a productive and aesthetically pleasing
          environment.
        </p>
        <a class="svc-btn" href="#">Learn More</a>
      </div>
    </section>
    </div>
    <footer>
      <div>
        <nav>
          <ul>
            <li>
              <a href="{% url 'index' %}"><img class="f-logo"
                  src="{% static 'media/images/ed712687-a3d7-4d4a-a1f4-1ac617bf89d3.jpeg' %}"
                  alt="Fanisi Atelier logo" /></a>
            </li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'portfolio' %}">Portfolio</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
          </ul>
          <div class="social-icons">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-pinterest"></i>
            <i class="fa-brands fa-x-twitter"></i>
          </div>
        </nav>
      </div>
      <hr />
      <div class="footer">
        <p>
          &copy; 2024 Fanisi Atelier. All rights reserved. Designing beautiful
          interior and exterior spaces. | Contact us: info@fanisiatelier.co.ke
        </p>
        <p><a href="#">Terms of Service</a></p>
        <p><a href="#">Privacy Policy</a></p>
      </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>