li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover {
    color: #e33665;
}

header {
    position: fixed;
    z-index: 999;
    width: 100%;    
    background-color: white;
    margin-top: 0px;
    top: 0;
}

.navbar {
    width: 100%;
    height: 80px;
    max-width: 1200px;
    padding: 20px 0px 20px 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo {
    width: 135px;
}

.navbar .links {
    display: flex;
    gap: 2.2rem;
}

.navbar .toggle-btn {
    color: black;
    font-size: 2.2rem;
    cursor:context-menu;
    display: none;
}

.gs-btn {
    background-color: #e33665;
    color: white;
    padding: 12px;
    padding-left: 24px;
    padding-right: 24px;
    border: 1px;
    outline: none;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.gs-btn:hover {
    color: rgba(255, 255, 255, 0.918);
    background-color: #e33664d7;
}

.gs-btn:active {
    scale: 0.95;
}

.dropdown-menu {
    position:absolute;
    right: -9rem;
    top: 80px;
    right: 0;
    height: 0;
    width: 150px;
    font-weight: bold;
    background-color:#ffffff00;
    overflow: hidden;
    transition:height 1.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 999;
}

.dropdown-menu.open {
    width: 150px;
    height: 344px;
}


.dropdown-menu li {
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.dropdown-menu li a {
    color: white;
    border: 1px solid #b9657b;
    padding: 5px 9px;
    border-radius: 15px;
    background-color: #b9657b;
}

.dropdown-menu li:hover {
    background-color: rgba(255, 255, 255, 0.699);
}

@media(max-width: 992px){
    .navbar .links,
    .navbar .gs-btn {
        display: none;
    }

    .navbar .toggle-btn {
        display: block;
    }

    .dropdown-menu{
        display: block;
        margin-top: 7px;
    }

    .navbar {
        padding: 3px 0px 1px 0px;
        height: 85px;
    }

    .navbar .logo {
        width: 100px;
    }
}