#custom-alert {
  display: none;
  position: fixed;
  top: 15.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding:0px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: auto;
  max-width: 300px;
  text-align: center;
  border-radius: 5px;
  color:green;
}
#custom-alert-message {
  margin: 0;
  padding: 10px;
  font-size: 16px;
}

/* Portfolio Button */
.ptf-btn {
  background-color: rgba(255, 255, 255, 0.685);
  color: black;
  padding: 15px 26px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s ease;
}

.ptf-btn:hover {
  background-color: #f7f3f4e1;
  border: 0px;
  color: black;
}

/* Our Services Button */
.svs-btn {
  background-color: #f7f3f42d;
  color: white;
  padding: 14px 31px;
  border: none;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s ease;
}

h1 {
  font-size: 48px;
}

.svs-btn:hover {
  background-color: rgba(255, 255, 255, 0.685);
  color: black;
}

/* Button Container */
.btn-container {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between buttons */
  margin-top: 20px;
  z-index: 2;
}

/* Main Section Styling */
.motion-background {
  background: url("../media/images/photo-1618221195710-dd6b41faaea6.avif");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 0 20px;
  position: relative;
  overflow: hidden; /* Ensure background doesn't go beyond container */
  border-radius: 0 0 5px 5px;
}

.motion-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Dark overlay for better text visibility */
  z-index: 0;
}

.motion-background h1 {
  font-size: 48px;
  color: #fff;
  margin: -12px 0 20px;
  z-index: 10;
  position: relative;
}

.motion-background p {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
  box-sizing: border-box;
  width: 35%;
  flex-grow: 0;
  z-index: 10;
  position: relative;
}

.motion-background button {
  margin: 0 10px;
  padding: 15px 30px;
  font-size: 18px;
}

.motion-background button:first-child {
  background-color: transparent;
  border: 2px solid #fff;
}

.motion-background button:first-child:hover {
  background-color: #fff;
  color: #000;
}

/* .discover-fanisi {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.discover-fanisi p {
  font-size: 18px;
}

.dsv-top {
  display: flex;
  gap: 3rem;
}

.dsv-top h1 {
  text-align: center;
}

.dsv-info-no_motion {
  display: flex;
  width: 90%;
  gap: 10rem;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: min-content;
}

.d-dsv-grid {
  display: flex;
  justify-content: center;
  width: min-content;
  gap: 4rem;
}

.dsv-info {
  width: 65%;
}

.h1-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

.d-dsv-grid img {
  width: 400px;
  height: 300px;
}

*/

.discover-fanisi {
  padding: 0 2rem;
}

.discover-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 5rem;
  font-size: 18px;
  z-index: 2;
}

.discover-fanisi .content-section {
  max-width: 40%;;
}

.dsv-info-no_motion {
  display: flex;
  gap: 5rem;
}

.dsv-info-no_motion section {
  border: none;
  border-radius: 15%;
  text-align: center;
  background-color: #9b8f922f;
  padding: 35px;  
  width: 28.5%;
}

.main-service-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.2rem;
  z-index: 3;
  margin-top: -146px;
}

.main-service-wrapper .flex-end{
  margin-left: 400px;
}

.dsv-color-palette video {
  height: 720px;
  padding-top: 57px ;
}

.d-dsv-grid {
  display: flex;
  gap: 2rem;
}

/* .main-service-wrapper .description {
  max-width: 35%;
} */

.d-dsv-grid div {
  width:min-content;
  font-size: 17px;
}

.d-dsv-grid h2 {
  font-size: 1.7em;
}

.d-dsv-grid div img {
  width: 400px;
  height: 350px;
  border-radius: 10px;
  box-shadow:7px 10px rgba(66, 64, 64, 0.082);
  transition: 0.4s ease-in;
}

.d-dsv-grid div img:hover {
  box-shadow:8px 11px #e3366448;
}

.d-dsv-grid .svc-btn {
  border: 1px solid #e33665;
  color: #e33665;
  padding: 14px 26px;
  margin-top: 2rem;
  text-align: center;
} 






.dark-div {
  background-color: rgba(0, 0, 0, 0.863);
  color: white;
  display: grid;
  justify-content: center;
  padding-top: 2rem;
}

.dark-div p {
  font-size: 18px;
  justify-content: center;
  display: grid;
}

.dark-div h1 {
  display: flex;
  justify-content: center;
  font-size: 48px;
}

/* .atelier-projects {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  overflow: hidden;
}

.atelier-projects img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.atelier-projects img:hover {
  transform: scale(1.1);
} */


.projects-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.projects-showcase img {
  width: 500px;
  height: 400px;
}

.projects-showcase img:hover {
  transform: scale(1.1);
}


.testimonials {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding: 0px 100px;
}

.box-top {
  background-color: white;
  color: black;
  box-shadow: 2px 2px 30px rgba(199, 196, 196, 0.329);
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  border-radius: 10px;
  width: 403px;
}

/* .box-top p {
    width: 50%;
} */

.client-profile {
  display: flex;
  gap: 10px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 10px;
  object-fit: cover;
}

input {
  margin: 1rem 0px;
}

.c-response {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 8rem;
  gap: 8rem;
}

.form-tittle h3 {
  font-size: 36px;
}

#response-name {
  padding: 12px 24px;
  border: 1px solid black;
  width: 560px;
  height: 24px;
}

#response-email {
  padding: 12px 24px;
  border: 1px solid black;
  width: 560px;
  height: 24px;
}

#message {
  padding: 12px 24px;
  margin-top: 1rem;
  border: 1px solid black;
  width: 560px;
  height: 96px;
}

#form-submit {
  padding: 12px 24px;
  background-color: #e33665;
  font-size: 16px;
  border: none;
  color: white;
  width: 105px;
  height: 50px;
}

#form-submit:hover {
  cursor: pointer;
  border-radius:8px;
  font-size:1rem;
}

#form-submit:active {
  cursor:progress;
  text-align: center;
  padding: 12px 16px;
  font-size:17px;
}


.c-response iframe {
  width: 630px;
  height: 610px;
}

@media (max-width: 1680px) {
  /* Input margin adjustments */
  input {
    margin: 1.5rem 0px;
  }

  /* Responsive c-response layout */
  .c-response {
    display: flex;
    flex-direction: row; /* Stacks the elements vertically */
    padding: 5rem 2.5rem; /* Reduce padding for smaller screens */
    gap: 6rem; /* Less gap between items */
  }

  .c-response form {
    width: 410px;
  }

  /* Form title font size reduction */
  .form-tittle h3 {
    font-size: 26px; /* Smaller font size for mobile */
  }

  /* Input field size adjustments */
  #response-name,
  #response-email,
  #message {
    padding: 12px 20px;
    width: 100%; /* Full width for mobile screens */
  }

  /* Message box height adjustment */
  #message {
    height: 80px; /* Increased height for better usability on mobile */
  }

  /* Submit button adjustments */
  #form-submit {
    width: 40%; /* Full width for mobile */
    height: 50px;
    font-size: 16px; /* Slightly smaller font size */
  }
}

@media (max-width: 1640px) {
  .atelier-projects {
    display: grid;
    justify-items: center;
    padding: 0px 8rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }

  /* .atelier-projects img {
    width: 80%;
  } */

  .testimonials {
    padding: 0px;
  }
}

@media (max-width: 1434px) {
  .testimonials {
    grid-template-columns: repeat(2, 1fr);
  }

  .dsv-color-palette img {
    display: none;
  }

  .dsv-top {
    gap: 0px;
    margin: 0px;
    display: flex;
    justify-content: center;
  }

  .dsv-info .dsv-info-no_motion {
    gap: 1rem;
    width: 100%;
  }

  .dsv-info-no_motion {
    width: 800px;
  }

  .d-dsv h1 {
    justify-content: center;
    display: flex;
  }

  .box-top {
    width: 330px;
  }

  .discover-fanisi {
    padding: 30px 0px;
  }

  .d-dsv-grid {
    gap: 1rem;
  }

  .d-dsv-grid img {
    width: 350px;
    height: 250px;
  }
}

@media (max-width: 1216px) {
  /* Input margin adjustments */
  input {
    margin: 0.5rem 0px;
  }

  /* Responsive c-response layout */
  .c-response {
    display: flex;
    flex-direction: row; /* Stacks the elements vertically */
    padding: 2rem; /* Reduce padding for smaller screens */
    gap: 2rem; /* Less gap between items */
  }

  /* Form title font size reduction */
  .form-tittle h3 {
    font-size: 24px; /* Smaller font size for mobile */
  }

  /* Input field size adjustments */
  #response-name,
  #response-email,
  #message {
    padding: 12px 20px;
    width: 80%; /* Full width for mobile screens */
  }

  /* Message box height adjustment */
  #message {
    height: 70px; /* Increased height for better usability on mobile */
  }

  /* Submit button adjustments */
  #form-submit {
    width: 30%; /* Full width for mobile */
    height: 50px;
    font-size: 14px; /* Slightly smaller font size */
  }

  /* Responsive iframe adjustments */
  .c-response iframe {
    width: 400px; /* Full width iframe */
    height: 450px; /* Auto-adjust height */
    padding-top: 1.5rem;
  }
}

@media (max-width: 1085px) {
  .d-dsv-grid img {
    width: 291px;
    height: 200px;
  }
}

@media(max-width: 992px){
  #custom-alert {
    top:12.2%;
}
}

@media (max-width: 906px) {
  /* Input margin adjustments */
  input {
    margin: 1.5rem 0px;
  }

  /* Responsive c-response layout */
  .c-response {
    display: flex;
    flex-direction: row; /* Stacks the elements vertically */
    padding: 5rem 2rem; /* Reduce padding for smaller screens */
    gap: 2rem; /* Less gap between items */
  }

  .c-response form {
    width: 350px;
  }

  /* Form title font size reduction */
  .form-tittle h3 {
    font-size: 26px; /* Smaller font size for mobile */
  }

  /* Input field size adjustments */
  #response-name,
  #response-email,
  #message {
    padding: 11px 19px;
    width: 70%; /* Full width for mobile screens */
    height: 15px;
  }

  /* Message box height adjustment */
  #message {
    height: 60px; /* Increased height for better usability on mobile */
  }

  /* Submit button adjustments */
  #form-submit {
    width: 40%; /* Full width for mobile */
    height: 50px;
    font-size: 16px; /* Slightly smaller font size */
  }

  /* Responsive iframe adjustments */
  .c-response iframe {
    width: 400px; /* Full width iframe */
    height: 450px; /* Auto-adjust height */
  }

  .testimonials {
    grid-template-columns: repeat(2, 380px);
  }

  .dsv-info-no_motion {
    display: flex;
    flex-direction: column;
  }

  .d-dsv-grid {
    display: flex;
    flex-direction: column;
  }

  .d-dsv-grid img {
    width: 550px;
    height: 350px;
  }
}

/* Responsive Styles for mobile view */
@media (max-width: 768px) {
  .btn-container {
    flex-direction: column; /* Stack buttons vertically */
    gap: 40px; /* Add vertical space between buttons */
    align-items: center; /* Center buttons */
  }

  .motion-background {
    background-image: url("../media/images/792c1ae861a3750747e19236a008de84.jpg");
    background-size: cover; /* Ensure the image covers the screen */
    background-position: center; /* Center the background image */
  }

  .motion-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .motion-background h1 {
    font-size: 36px;
    margin: -40px 0 20px;
  }

  .motion-background p {
    font-size: 18px;
    width: 90%; /* Increase text width */
  }

  .motion-background button {
    padding: 10px 20px;
    font-size: 16px;
  }

  /* Responsive adjustments for discover-fanisi section */
  .discover-fanisi {
    padding:2rem 1rem; /* Reduce padding for smaller screens */
  }

  .discover-fanisi p{
    font-size: 16px;
  }

  .discover-fanisi h1 {
    font-size: 32px; /* Reduce heading size */
    margin-left: 0;
    text-align: center;
  }

  .dsv-color-palette img,
  .dsv-info-no_motion {
    display: none;
  }

  .d-dsv-grid img {
    width: 360px;
    height: 240px;
  }

  .dark-div {
    padding: 1rem; /* Adjust padding */
  }

  .dark-div h1 {
    font-size: 36px;
    text-align: center;
  }

  .dark-div p {
    font-size: 16px;
  }

  /* Responsive adjustments for the atelier-projects section */
  .atelier-projects {
    padding: 0 0rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    overflow: hidden;
  }

  .atelier-projects img {
    width: 100%; /* Make images responsive */
    transition: transform 0.3s ease;
  }

  .testimonials {
    display: flex;
    justify-items: center;
    flex-wrap: wrap;
  }

  .testimonials p{
    font-size: 14px;
  }

  .box-top {
    width: 279px;
    margin:10px 0px 0px;
    padding: 10px 20px;
  }

  /* Input margin adjustments */
  input {
    margin: 0.5rem 0px;
  }

  /* Responsive c-response layout */
  .c-response {
    display: flex;
    flex-direction: column; /* Stacks the elements vertically */
    padding: 2rem; /* Reduce padding for smaller screens */
    gap: 2rem; /* Less gap between items */
  }

  /* Form title font size reduction */
  .form-tittle h3 {
    font-size: 24px; /* Smaller font size for mobile */
  }

  /* Input field size adjustments */
  #response-name,
  #response-email,
  #message {
    padding: 12px 20px;
    width: 80%; /* Full width for mobile screens */
  }

  /* Message box height adjustment */
  #message {
    height: 70px; /* Increased height for better usability on mobile */
  }

  /* Submit button adjustments */
  #form-submit {
    width: 30%; /* Full width for mobile */
    height: 50px;
    font-size: 14px; /* Slightly smaller font size */
  }

  /* Responsive iframe adjustments */
  .c-response iframe {
    width: 100%; /* Full width iframe */
    height: auto; /* Auto-adjust height */
  }
}

@media(max-width:600px) {
 .dsv-info {
  width: 100%;
 }

 .dsv-top h1{
  margin: 0px;
 }

 .h1-hero {
  height: 74px;
  width: 319px;
  margin-left: 10px;
 }
}
